<section class="row">
    <div class="col-12 mb-4">
        <h2 class=" font-weight-bold mb-4">Create New Post</h2>
        <form id="new-post-form">
            <div class="bg-info border border-dark rounded-top">
                <label for="post-title" class="font-weight-bold">Title</label>
                <input type="text" id="post-title" name="post-title" class="form-control input-lg border border-dark border-bottom-0" />
            </div>
            <div class="bg-info border border-dark rounded-bottom">
                <label for="post-content" class="font-weight-bold">Content</label>
                <textarea type="text" id="post-content" name="post-content" class="form-control input-lg border border-dark"
                    rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Create Post</button>
        </form>
    </div>
</section>
{{#if posts.length}}
<section class="row">
    <div class="col-12">
        <h2 class="font-weight-bold">Your Posts</h2>
        <div>
            {{#each posts as |post|}}
            <div class="mb-4">
                {{> post-info post}}
                <button type="button" class="btn btn-secondary mt-2">
                    <a href="/dashboard/edit/{{post.id}}">Edit Post</a>
                </button>
            </div>
            {{/each}}
        </div>
    </div>
</section>
{{/if}}
<script src="/javascript/add-post.js"></script>