<form class="login-form">
    <div>
        <label for="email-login" class="font-weight-bold">Email:</label>

        <input type="text" id="email-login" class="form-control input-md border border-dark rounded mb-3" />
    </div>
    <div>
        <label for="password-login" class="font-weight-bold">Password:</label>

        <input type="password" id="password-login" class="form-control input-md border border-dark rounded mb-3" />
    </div>
    <div>
        <button type="submit" class="btn btn-primary mb-2">Log In</button>
    </div>
        <a href="/signup"><p><u>Sign Up Instead</u></p></a>
</form>

<script src="/javascript/login.js"></script>