<form class="signup-form">
    <div>
        <label for="username-signup" class="font-weight-bold">Username:</label>
        <input type="text" id="username-signup" class="form-control input-md border border-dark rounded mb-3" />
    </div>
    <div>
        <label for="email-signup" class="font-weight-bold">Email:</label>
        <input type="text" id="email-signup" class="form-control input-md border border-dark rounded mb-3" />
    </div>
    <div>
        <label for="password-signup" class="font-weight-bold">Password:</label>
        <input type="password" id="password-signup" class="form-control input-md border border-dark rounded mb-3" />
    </div>
    <div>
        <button type="submit" class="btn btn-primary mb-2">Sign Up</button>
    </div>
    <a href="/login"><p><u>Log In Instead</u></p></a>
</form>

<script src="/javascript/sign-up.js"></script>