{{> post-info post }}
{{#if loggedIn}}
<form id="comment-form" class="mt-4">
  <div>
    <textarea type="text" name="comment-body" class="form-control input-lg mb-1 border border-dark rounded" rows="5"></textarea>
  </div>
  <div>
    <button type="submit" class="btn btn-primary">Add Comment</button>
  </div>
</form>
{{/if}}
{{> comments post.comments }}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}